   .main{
    width: 100%;
    height: 100vh;
    background-color: blue;
    margin: auto;
    padding: 20PX;
    position: relative;
}
.sicend{
    margin-top: 10px;
    padding: 10PX;
    position: absolute;
    left: 3%;
}
.hed{
    margin-top: 20px;
}
.dfg{
    width:100%;
    height: 50px;
    background-color: rgb(20, 0, 146);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -7px;
   
}
.soon{
    position: absolute;
    right: -3%;
    top: 0%;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-content:space-around;
}
.med{
    position:absolute;
    right: 0%;
    bottom: 2%;
    display: flex;
    justify-content: right;
    align-content:end ;
    
}